<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-3">
        <div class="row">
            <% blogs.forEach(blog => { %>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="<%= blog.coverImageURL %>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                            <% if (locals.user && blog.user && locals.user._id === blog.user._id) { %>
                                <button onclick="deleteBlog('<%= blog._id %>')" class="btn btn-danger">Delete</button>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <script>
        async function deleteBlog(id) {
            try {
                const res = await fetch(`/blog/${id}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const data = await res.json();
                if (res.status === 200) {
                    alert(data.msg);
                    location.reload();
                } else {
                    alert(data.msg);
                }
            } catch (err) {
                console.error(err);
            }
        }
    </script>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>
</html>
